@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


// making whle site margin amd padding 0
*{
    margin: 0%;
    padding: 0%;
    font-family: "Itim", sans-serif;
}

//making whole site anchor tag text decoration to none
a{
    text-decoration: none;
}